
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Assignment</title>

          <style>
              @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
              body, h2{
                   font-family: 'Roboto Condensed', sans-serif;

              }
                 .btn{
    background-color: rgb(90, 221, 90);
    border:none;
    border-radius: 0px;
   }
   .btn:hover{
       background-color: limegreen !important;
       box-shadow: 0px 0px 5px 3px;
   }


    </style>

  </head>
  <body>



<div class="container">
   <div class="modal-body">
       <h2 class="my-3">Register</h2>
        <h4 class="text-{{color}}"> {{ s_stat }} </h4>
          <form method="post" >
              {% csrf_token %}
               <div class="form-group">
    <label for="exampleInputEmail4">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail4" name="username" aria-describedby="emailHelp">
    <small id="userss" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
              <div class="form-group">
    <label for="exampleInputPassword3">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword3" name="password2">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn">Register</button>
</form>

      </div>
           <a href="/login"> <button type="submit" class="btn">Login</button></a>

</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>