
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Assignment</title>

          <style>
              @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
              body, h2{
                   font-family: 'Roboto Condensed', sans-serif;

              }
                 .btn{
    background-color: rgb(90, 221, 90);
    border:none;
    border-radius: 0px;
   }
   .btn:hover{
       background-color: limegreen !important;
       box-shadow: 0px 0px 5px 3px;
   }


    </style>

  </head>
  <body>



<div class="container">
   <h2 class="mx-auto mx-3 my-3">
        Login
    </h2>
    <form action="." method="POST">
     {% csrf_token %}

        <div class="form-group">
            <label for="emaillog">Username</label>
            <input type="text" name="emaillog" class="form-control" id="emaillog" >
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name = "password" id="password"></input>
        </div>
        <button type="submit" class="btn">Login</button>

      </form>

      <div class="my-2">
        <h5> Haven't created account yet?  </h5>
        <a href="/" class="btn"> Create an Account </a>
      </div>

</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>